body {
    margin: 0;
    font-family: sans-serif;
    color: white;
    animation: flash 1s infinite;
}

@keyframes flash {
    0% {
        background: #ff0000;
    }
    50% {
        background: #ffffff;
        color: #000000;
    }
    100% {
        background: #ff0000;
        color: #ffffff;
    }
}
